@model IEnumerable<DavisonService.ViewModels.ProdVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("To Categories", "Index", "Category") |
    @Html.ActionLink("To Brands", "Index", "Brand")
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Brand Name
        </th>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { ean = item.EAN }) |
                @Html.ActionLink("Reviews", "Reviews", new { id = item.Id}) |
                @Html.ActionLink("Compare Prices", "Compare Prices", new { id = item.Id })
            </td>
        </tr>
    }

</table>
